/*Home(main) page and Nav styling*/


	

.screen {
	background-color: rgba(0, 0, 0, 0.6);
	z-index:20;
	height:1000px;
	width: auto;



}
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

 /* Bouncing Key---based on https://gist.github.com/gubi/8483199*/
#key {
	padding-top: 20px;
	color: white;
	z-index: 22;
	display: block;
	position: relative;
	text-align: center;
	font-size: 50px;
	-moz-animation: bounce .5s infinite linear;
    -o-animation: bounce .5s infinite linear;
    -webkit-animation: bounce .5s infinite linear;
    animation: bounce .5s infinite linear;
	

}



@-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.1em; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.1em; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.1em; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.1em; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.1em; }
    100% { top: 0; }
}

.loading {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items:center;
	color:white;
	padding-top: 100px;
}

.h2 {
color:#fff

}

.bcolor {
	background: linear-gradient(to top right, #003366 36%, #009999 78%);

}
.bcpolls {
	background-color:#DFDBE5;
}

.navbar-right {
	margin-right: 180px
}


.logo {
display:flex;
justify-content:center;
max-width: 350px;
max-height: 250px;
margin:auto;
}

.info {
	text-align:center;
	 
}

.lead {
	align-content:center;
	text-align:left;
	font-size: 24px;
	padding:0 20px 0 40px;
	 

}

.login {
   -webkit-transition-duration:.4s;
   transition-duration:.4s;
background-color:#fff;
border:2px solid #c2f0f0;
border-radius:5px;
   padding:15px 32px;
   text-align:center;
text-transform:capitalize;
letter-spacing:1px;
 max-width:200px;
list-style:none;
margin:auto;
}


.login:hover {
   background-color:#95dee3
}



.section {

height:100%;
font-size: 16px;


}
.container-fluid {
	display:flex;
	justify-content:center;
	align-items:center;
	margin-top:2%;
	padding-bottom: 10%;

	opacity: 1;
-webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards; 
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:.5s;
    -moz-animation-duration:.5s;
    animation-duration:.5s;


}

.flexbox-container {

display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-flex-direction:column;
flex-direction:column;
-webkit-align-items: center;
align-items:center;
justify-content:center;





}

.flex-item {


color: black;

padding:0px;
font-size: 16px;




}


.data-well {

max-width:1010px;
margin:auto;

max-height:1000px;
/*
border:10px double #c2f0f0;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

background-color:#fff; */
background-color:#DFDBE5;
padding:40px;
margin-bottom: 20px;

}

.view {
	display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-align-items: center;
align-items:center;
justify-content:center;


}
a:link {
	text-decoration: none;
}

.view button {
	margin-top: 30px;
	width:200px;
	height: 60px;
	border:none;
	border-radius: 5px;
	font-size: 18px;
	text-decoration: none;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#below {
	height:100px;
	display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-align-items: flex-start;
align-items:flex-start;
justify-content:center;
text-align: center;
background-color: #DFDBE5;
font-variant: small-caps;

}
#below h1 {
	
	width:200px;
	height:60px;
	padding: 10px;
}

.section.h4 {
color: #004d99
}



#back2Top {
width:40px;
line-height:40px;
overflow:hidden;

display:none;
cursor:pointer;
-moz-transform:rotate(270deg);
-webkit-transform:rotate(270deg);
-o-transform:rotate(270deg);
-ms-transform:rotate(270deg);
transform:rotate(270deg);

float: right;
background-color:#DDD;
color:#555;
text-align:center;
font-size:30px;
text-decoration:none;
}

#back2Top:hover {
background-color:#DDF;
color:#000
}

.z {


width: auto;
font-size: 22px;



}




@media only screen and (max-device-width: 60em) {
.section {

max-width:760px;
height:500px


}

#back2Top {
	right: .5em;
	}

.flexbox-container {
	display: flex;
max-width:760px;
align-self:center;
justify-content:center;
-webkit-flex-direction:row;
flex-direction:row;
}


.flex-item {
	
	height:auto;
	text-align: left;

	
}



.data-well {
	
max-width:760px;
min-width:300px;
font-size:18px;
padding: 20px;
font-style: small;




}
.z {

font-size:22px;
font-style: bold;
height: auto;
display: flex;
text-align: left;
align-self:center;

-webkit-flex-direction:row;
flex-direction:row;


}
.mobile-ignore {
	display: none;
}
.logo {
display:flex;
justify-content:center;
align-items:center;
margin:auto;
max-width:230px;
max-height:170px
}

.info {
font-size:30px;
font-weight:400;
line-height:95%;
text-align:center
}

.lead {
font-size: 24px;
font-weight:500px;
line-height:110%;
text-align:center;
width: auto;
margin:0 5% 0 8%;
padding: 0;
}

.login {
      padding:5px 10px;
   text-align:justify;
max-width:200px;

}



.nav {
top:0;
width:100%;


}
}




