
<template name="home"> <body>
	<div class="herohead">
	<div class= "bcolor">{{>nav}}
</div>
	
		<div class="container-fluid">
			<div class="row">
			<div class="col-lg-4">
			<div class="logo"> <img class="img-responsive" src="/images/Assetlogo.png" alt="New Resident Hub"/>
			</div>
		</div>
			<div class="col-lg-8"> 
				<div class="top"><br><h2 class="info" style="color:#e6e6e6">New to the area or looking for a highly rated service?</h2> <br><p class="lead" style="color:#cccccc">Our community reviews local businesses<span class="mobile-ignore"> all in one spot</span>.<br>Compare reviews and choose a service with confidence.</p>
					<a class="view" href="#below"><button class="btn-warning">View Polls</button></a>



				</div>

			</div>


		</div>

		
	</div>
	




				
				<section class="section">
					<div class="flexbox-container">
						
						<div class="data-well">


							<div class="row guide">
							<div class="col-flex col-sm" >
								<div class="flex-item"><i class="fa fa-compass fa-4x" aria-hidden="true"></i><h3 class="z text-left">Getting Started</h3><p class="center">Create an account with a username and e-mail by clicking the login-in button at the top of the page.</p>
								</div>
							</div>

								<div class="col-flex col-sm">
									<div class="flex-item"><i class="fa fa-user-plus fa-4x" aria-hidden="true"></i><h3 class="z text-left">For New Residents</h3> <p>View local businesses.<br> Compare based on Recommendation, Customer Service, or Price. <br>Collect contact information.</p>
									</div>
								</div>

								<div class="col-flex col-sm">
									<div class="flex-item"><i class="fa fa-user fa-4x" aria-hidden="true"></i> <h3 class="z text-left">For Customers</h3> <p>To review the services on the site login-in and pick the choice that best describes the experience.</p>
									</div>
								</div>

								<div class="col-flex col-sm">
									<div class="flex-item"><i class="fa fa-question-circle fa-4x" aria-hidden="true"></i><h3 class="z text-left">Have a Question?</h3> <p>Reach out to us at contact@NRHub.com</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

			</div>
			</body></template>










