
/*Poll section styling*/

.polls {

	margin:auto;
	max-width: 1250px;
	padding-right: 8%;
	padding-left: 8%;
	
}

.panel {
	display:inline-block;
	width:100%;
	background-color: white;
}
.panel.heading {
	background-color: white;
}

.address {
	 text-transform: capitalize;
}



@media only screen and (max-device-width: 480px)  {

.polls {

	
	max-width: 300px;
	padding-right: 8%;
	padding-left: 8%;
	margin: 0;
}


	}
